{% extends 'base.html' %}

{% block content %}

    <form action="" method='post'>
        {% csrf_token %}
        <div class="card text-center" style="margin-top: 40px; background-color: #C70039; color: white;">
            <div class="card-body">
                <h5 class="card-title">Are you sure that you want to delete this entry?</h5>
                <input class="btn" type="submit" value="Delete" style="background-color: #A6ACAF; color: white;">
                <a class='btn' href="{% url 'index' %}" style="color: white; background-color: #A6ACAF">Cancel</a>
            </div>
        </div>

    </form>

{% endblock content %}