{% extends 'base.html' %}
{% load static %}
{% block nav %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <form class="d-flex" action="" method='get'>
        <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="author">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

{% endblock nav %}



{% block content %}
    {% for entry in entries %}
        <div class="card text-center" style="margin-top: 40px; background-color: #C70039; color:white">
        <span>
            <a href="{% url 'entry_update' entry.id %}" style="color: thistle;"><i class="fas fa-edit"></i> </a>   | <a
                href="{% url 'entry_delete' entry.id %}" style="color:thistle;"><i class="fas fa-eraser"></i></a>
        </span>


            <div class="card-body">
                <h5 class="card-title">{{ entry.author }} | {{ entry.email }}</h5>
                <p class="card-text">{{ entry.text }}</p>
            </div>
        </div>
    {% endfor %}

{% endblock content %}
