{% extends 'base.html' %}
{% load static %}
{% block nav %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <form class="d-flex" action="" method='get'>
        <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="author">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

{% endblock nav %}



{% block content %}
    {% for entry in entries %}
        <div class="card text-center">
        <span>
            <a href="{% url 'entry_update' entry.id %}" >Редактировать<i class="fas fa-edit"></i> <img src="static/images/edit.png" alt="delete"></i> </a>   |  <a
                href="{% url 'entry_delete' entry.id %}"><i class="fas fa-eraser"><img src="static/images/file.png" alt="delete"></i> Удалить</a>
        </span>


            <div class="card-body">
                <h5 class="card-title">{{ entry.author }} | {{ entry.email }}</h5>
                <p class="card-text">{{ entry.text }}</p>
            </div>
        </div>
    {% endfor %}

{% endblock content %}
